@viewport { width: device-width }
@-ms-viewport { width: device-width }

html { 
	font-size: 100%;
	box-sizing: border-box;
}

*{ box-sizing: inherit;}

body{
	background: #00090e;
	margin: 0;
}

#wrapper{
	position: relative;
	max-width: 30rem;
	background-color: #001624;
	color: #b2c3cd;
	padding: 2rem 1rem 2.5rem 1rem;
	overflow: hidden;
	text-align: center;
	font-family: 'VT323' ;
	letter-spacing: 0.15em;
	z-index: 1;
}

.thanks{
	color: #b2c3cd;
	text-decoration: none;
}
.thanks:hover, .thanks:focus, .thanks:active{
	color: #4aaee0;
	outline-color: #4aaee0;
}

h1, #about h2{
	text-align: center;
	font-size: 2rem;
	font-weight: normal;
	margin: 0;
}
h2{
	font-weight: normal;
	margin: 1.5rem 0 0.5rem 0;
	text-align: left;
}

#about p{
	text-align: left;
	font-size: 1.2rem;
}

textarea{
	width: 100%;
	border: none;
	background-color: #003756;
	color: #4aaee0;
	height: 15rem;
	margin: 0;
	display: block;
	resize: vertical;
	box-shadow: 0 0 1rem #001624 inset;
	font-family: 'VT323' ;
	padding: 1rem;
	font-size: 1.2rem;
}

#about-link{
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	border-radius: 0.75em;
	line-height: 1.5;
	text-decoration: none;
	color: #b2c3cd;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	letter-spacing: normal;
}

#close{
	margin-top: 1rem;
}
#close:after{
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	content: '×';
	font-family: sans-serif;
	font-weight: bold;
	letter-spacing: normal;
}

#about{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #01395a;
	overflow: hidden;
	transition: transform 1s ease;
	transform: translateX(-100%);
}
#about:target{
	transform: translateX(0);
}
#about div{
	padding: 2rem 1rem;
}

.button{
	width: 50%;
	margin: 0;
	overflow: hidden;
	display: inline-block;
	text-decoration: none;
	background-color: #004c78;
	color: #b2c3cd;
	border: none;
	font-family: 'VT323' ;
	font-weight: normal;
	padding: 0.5rem;
	font-size: 1rem;
	border-radius: 0.1rem;
}
.button:hover, .button:focus, .button:active{
	background-color: #195d85;
	cursor: pointer;
	outline: 0;
}


@media all and (min-width: 30em){
	body{
		background: url("bkg.jpg") center center #00090e;
	background-size: cover;
	}

	#wrapper{
		margin: 3rem auto;
		border-radius: 2rem;
		box-shadow: 0 0 5rem #57c0ed;
		padding: 2rem 2rem 2.5rem 2rem;
	}
	#about div{
		padding: 2rem;
		width: 30rem;
	}
	#about p{
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

@media all and (min-width: 120em), all and (min-resolution: 120dpi) and (min-width: 80em), all and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 80em){
	body{
		background-image: url(bkg-lg.jpg);
	}
}

::selection {
  background: #b2c9d6;
}
::-moz-selection {
  background: #b2c9d6;
}