body{
  height: 100vh;
  background-color: #333;
  display: flex;
  align-items: center;
}

#box{
  width: 700px;
  background-color: #222;
  height: 700px;
  margin: 0 auto;
  position: relative;
}

.side{
  opacity: 1;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 200px;
  top: 200px;
  -webkit-transform-origin: center center 259.807621135px;
}

#side1{
  background-color: red;
  transform: rotateY(60deg);
}
#side2{
  background-color: blue;
  transform: rotateY(120deg);
}
#side3{
  background-color: green;
  transform: rotateY(180deg);
}
#side4{
  background-color: white;
  transform: rotateY(240deg);
}
#side5{
  background-color: yellow;
  transform: rotateY(300deg);
}
#side6{
  background-color: purple;
}