@viewport{
    width: device-width;
}

@-ms-viewport{
    width: device-width;
}

html{
	font-size: 100%;
	box-sizing: border-box;
	font-family: 'Sintony', sans-serif;
}

*{ box-sizing: inherit;}

body{
	margin: 0;
	background: #588c73;
	color: #261c17;
}



#top-nav{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;

	border: 2px solid #ede9ce;
	color: #f4f1e1;
	background-color: #261c17;

	overflow: hidden;
	width: 52px;
	height: 52px;
	border-radius: 26px;
	margin: 0.5rem;
	opacity: 0.75;
	transition: width 0.5s ease, height 0.5s ease, opacity 0.5s ease;
}
#top-nav h2{
	font-size: 1.35rem;
	margin: 0;
	font-weight: normal;
}
#top-nav ul{
	margin: 1rem 0 0 0;
	padding-left: 2rem;
	list-style: none;
}
#top-nav li a{
	color: #f4f1e1;
	text-decoration: none;
	display: inline-block;
	margin: 0.5rem 0;
}
#mobile-menu{
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
}

#mobile-menu span{
	display: block;
	background-color: #ede9ce;
	width: 22px;
	margin: 8px;
	height: 2px;
	border-radius: 1px;
	transition: transform 0.5s ease;
}
#top-nav.open{
	width: calc(100vw - 1rem);
	width: 13rem;
	opacity: 1;
}

#mobile-menu{
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
}

#top-nav.open .span-top{
	transform: translateY(10px) rotateZ(-45deg) rotateY(180deg);
}
#top-nav.open .span-middle{
	transform: rotateX(90deg);
}
#top-nav.open .span-bottom{
	transform: translateY(-10px) rotateZ(45deg) rotateY(180deg);
}


#nav-wrap{
	width: 90vw;
	width: calc(100vw - 1rem - 4px);
	width: 13rem;
	position: absolute;
	right: 0;
	padding: 2rem;
	overflow: hidden;
}




.vp-box{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
}

.content-wrap{
	width: 100%;
	margin: 1rem;
}

.vp-box h2{
	font-size: 2em;
	font-weight: normal;
	font-family: 'Slabo 27px', serif;
}



#home{
	color: #ede9ce;
	text-align: center;
}
#home h1{
	font-weight: normal;
	font-family: 'Slabo 27px', serif;
	font-size: 2em;
	margin: 0;
}
#home p{
	margin: 0;
	/*font-size: 1.225em;   if not uppercase*/
	text-transform: uppercase;
	font-size: 1.038em;
}

#about{
	background-color: #ede9ce;
}
#about img{
	height: 100px;
}

#projects{
	background-color: #d96459;
	color: #ede9ce;
}

#contact{
	background-color: #ede9ce;
}

.project{
	position: relative;
	margin: 2rem 1rem;
	overflow: hidden;
	border-radius: 0.5rem;
	box-shadow: 0.125rem 0.125rem  0.25rem #261c17;
	border: 2px solid #ede9ce;
}

.project-background{
	background: url(beatschool2.jpg);
	background-size: cover;
	width: 100%;
	padding-top: 56.25%;
	box-shadow: 0.25rem 0.25rem  0.5rem #261c17 inset;
}

.project span{
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	background-color: rgba(38, 28, 23, 0.85);
	color: #f4f1e1;
	padding: 0.25rem;
	text-align: center;
}