@viewport{
    width: device-width;
}

@-ms-viewport{
    width: device-width;
}

html{
	font-size: 100%;
	box-sizing: border-box;
	font-family: 'Sintony', sans-serif;
}

*{ box-sizing: inherit;}

body{
	margin: 0;
	background: #729f98;
	color: #261c17;
}

/*#mobile-menu{
	position: fixed;
	top: 0;
	right: 0;
	margin: 0.5rem;
	padding: 2.25vw;
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	text-align: center;
	line-height: 0;
	border: 0.5vw solid rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.5);
}

/*#mobile-menu span{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	background-color: rgba(255, 255, 255, 0.9);
	width: 6vw;
	margin: 2vw auto;
	height: 0.5vw;
	border-radius: 0.25vw;
}*/
#mobile-menu{
	position: fixed;
	top: 0;
	right: 0;
	margin: 0.5rem;
	padding: 5px;
	border-radius: 50%;
	border: 2px solid rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.5);

	display: none;
}

#mobile-menu span{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	background-color: rgba(255, 255, 255, 0.9);
	width: 22px;
	margin: 8px;
	height: 2px;
	border-radius: 1px;
}

#overlay{
	color: #fff;
	text-align: center;
	padding-top: 40vh;
	font-size: 300%;
	position: fixed;
	z-index: 3;
	width: 100vw;
	height: 100vh;
	background-color: #729f98;
}

#scene{
	position: fixed;
	top: -2.5vh;
	left: -3vw;
}
.parallax{
	background-size: cover;
	background-position: top left;
	background-repeat: no-repeat;
	height: 105vh;
	width: 106vw;

}

#parallax{
	background-image: url(back.png);
	z-index: -5;
}
#parallax-back-mid{
	background-image: url(back-mid.png);
	z-index: -4;
}
#parallax-front-mid{
	background-image: url(front-mid.png);
	z-index: -3;
}
#parallax-front{
	background-image: url(front.png);
	z-index: -2;
}

#shade{
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.1);
}


#home{
	position: relative;
	z-index: 1;
	color: #fff;
	overflow: hidden;
	height: 100vh;
	width: 100%;
	text-align: center;
}

#home h1{
	font-weight: normal;
}

nav{
	z-index: 2;
	position: fixed;
	top: 0;
	right: 0;
	margin: 1rem 0.5rem;
	transition: opacity 1s;
}
.left-nav{
	position: fixed;
	left: 0.5rem;
}

nav ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

nav li{
	display: inline-block;
}

nav li a{
	color: #fff;
	text-decoration: none;
	padding: 0.5rem;
	border-right: 2px solid rgba(255, 255, 255, 0.9);
	border-left: 2px solid rgba(255, 255, 255, 0.9);
	border-radius: 0.5rem;
	margin: 0 2px;
}

nav li a:hover{
	border-bottom: 2px solid rgba(255, 255, 255, 0.9);
	border-top: 2px solid rgba(255, 255, 255, 0.9);
}

.vp-box{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.wrap{
	width: 66rem;
	padding: 3rem;
	border-radius: 2rem;
	margin: 0 auto;
	background-color: #ede9ce;
	overflow: hidden;
	box-shadow: 0 0 2rem #615743;
	transition: opacity 1s;
}

#about{
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.about-wrap img{
	width: 40%;
	border-radius: 50%;
	float: right;
}
.about-wrap h2, .about-wrap p{
	float: left;
	width: 60%
}

#portfolio{
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.port-wrap h2{
	margin-top: 0;
}

#portfolio a{
	display: inline-block;
	width: 33%;
	padding: 1rem;
	background-color: red;
}



/*.project-foreground{
	width: 500px;
	height: 300px;
	background-color: red;
	opacity: 1;
	transition: opacity 1s;
}
.project:hover .project-foreground{
	opacity: 0;
}*/

.portpic{
	position: fixed;
	background-size: cover;
	background-position: top center;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	transition: opacity 1s;
}
.pp-show{
	opacity: 1;
}
.pp-hide{
	opacity: 0;
}
#pp-one{
	background-image: url(beatschool.png);
}
#pp-two{
}
#pp-three{
}
#pp-four{
}
#pp-five{
}
#pp-six{
}

#contact{
	position: relative;
	z-index: 1;
	overflow: hidden;
}