
@viewport{
    width: device-width;
}

@-ms-viewport{
    width: device-width;
}

html{
	font-size: 100%;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
}

*{ box-sizing: inherit;}

body{
	margin: 0;
	font-family: sans-serif;
}

#wrapper{
	max-width: 640px;
	margin: 0 auto;
	padding: 1em;
}

h1{
	text-align: center;
}

h1 a{
	text-decoration: none;
	color: #000;
}

#search-bar{
	display: block;
	width: 80%;
	float: left;
}
#search-button{
	display: block;
	width: 20%;
	float: left;
}

#search-wrap{
	display: flex;
	margin-bottom: 2em;
}

.search-result{
	margin-bottom: 2em;
}

#load-more{
	display: block;
	width: 100%;
}

#load-more:disabled{
	visibility: hidden;
}

button{
	cursor: pointer;
}
