
@viewport{
    width: device-width;
}

@-ms-viewport{
    width: device-width;
}

html{
	font-size: 100%;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
}

*{ box-sizing: inherit;}

body{
	margin: 0;
	font-family: sans-serif;
	overflow-y: scroll;
}

#background{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #dcdce8;
	opacity: 0.15;
}

#wrapper{
	position: relative;
	max-width: 640px;
	margin: 0 auto;
	padding: 1em;
}

@media all and (min-width: 700px){
	#background{
		background: url(bkg.jpg) no-repeat top center ;
		background-size: cover;
	}
	#wrapper{
		min-height: 100vh;
		background-color: rgba(255, 255, 255, 0.66);
	}
}

h1{
	text-align: center;
}

h1 span{
	cursor: default;
}

h1 a{
	text-decoration: none;
	color: #000;
}

h1 a:focus{
	outline: none;
}

#search-bar{
	display: block;
	width: 80%;
	float: left;
}
#search-button{
	display: block;
	width: 20%;
	float: left;
}

#search-wrap{
	display: flex;
	margin-bottom: 1em;
}

#results{
	margin-bottom: 1em;
}

.search-result{
	overflow: hidden;
}

.search-result h2{
	color: #36c;
	margin-bottom: 1rem;
}

#results a{
	text-decoration: none;
	color: #000;
}

#results a:hover h2, #results a:focus h2, #results a:active h2{
	text-decoration: underline;
}

#results a:hover, #results a:focus, #results a:active{
	outline: none;
}

#load-more{
	display: block;
	width: 100%;
	margin-bottom: 1em;
}

#load-more:disabled{
	visibility: hidden;
}

#err-msg{
	margin-bottom: 1em;
}

button{
	cursor: pointer;
	background-color: #36c;
	color: #fff;
	border: none;
}

button:focus, button:hover, button:active{
	outline: none;
	background-color: #58e;
}

button, input{
	padding: 0.5em;
	border-radius: 0;
	font-family: Arial;
	font-size: 0.9rem;
}

input{
	border-style: solid;
	border-color: #babac6;
	border-width: 1px;
}

input:focus{
	border-color: #36c;
	outline: none;
}


