@viewport { width: device-width }
@-ms-viewport { width: device-width }

html { 
	font-size: 100%;
	box-sizing: border-box;
}

*{ box-sizing: inherit;}

body{
	font-family: 'Roboto', sans-serif;
	background-color: #e9e9e9;
	margin: 0;
}

/*#wrapper{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}*/

header{
	width: 100vw;
	text-align: center;
	position: fixed;
	top: 0;
	font-size: 5vw;
}

.button-text{
	display: inline-block;
	width: 0;
	height: 0;
	overflow: hidden;
	white-space: nowrap;
}

@media all and (min-width: 18em){
	.button-text{
		display: inline;
		width: auto;
		white-space: normal;
	}
}

.button{
	display: inline-block;
	width: 50%;
	padding: 1rem;
	color: #fff;
	text-decoration: none;
}

h1{
	color: #fff;
	background-color: #e62117;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
	padding: 1rem;
	font-size: 115%;
}

#new-quote{
	background-color: #4CAF50;
}

#tweet{
	background-color: #2196F3;
}

#tweet:hover, #tweet:focus, #tweet:active{
	outline: 0;
	background-color: #1976D2;
}

#new-quote:hover, #new-quote:focus, #new-quote:active{
	outline: 0;
	background-color: #388E3C;
}


@media all and (min-width: 18em){
	i{
		margin-right: 0.5em;
	}
}

p{
	font-size: 115%;
	margin: 1em;
	padding: 1em;
	border-radius: 1rem;
	background-color: #fff;
}

footer{
	width: 100%;
	text-align: center;
	color: #fff;
	background-color: #212121;
	padding: 1rem;
}

footer a{
	color: #fff;
	text-decoration: none;
}

footer a:hover, footer a:focus, footer a:active{
	text-decoration: underline;
	outline: 0;
}