body{
	font-size: 100%;
}

@media all and (min-width: 30em){
	body{
		font-size: 112%;
	}
}

@media all and (min-width: 50em){
	body{
		font-size: 125%;
	}
}

.wrapper {
	max-width: 40em;
	margin: auto;
	overflow: hidden;
}