@viewport { width: device-width }
@-ms-viewport { width: device-width }
@font-face{
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.6.1');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.1') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.6.1') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.6.1') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.6.1') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.6.1#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}

html { 
	font-size: 24px;
	box-sizing: border-box;
}

*{ box-sizing: inherit;}

body{
	background-color: #888;
	margin: 0;
	font-family: sans-serif;
}

	

#monitor{
	display: block;
	float: right;
	width: 100%;
	background-color: #0e1315;
	overflow: hidden;
	position: relative;
}

#monitor canvas{
	width: 100%;
	display: block;
}

#parameters{
	text-align: center;
	display: block;
	float: left;
	width: 40%;
	padding: 12px;
	overflow: hidden;

	border-right: 1px dashed #0e1315;
}

#bottom-controls{
	width: 60%;
	float: left;
}


@media all and (min-width: 560px){
	#monitor{
		width: 80%;
	}

	#parameters{
		width: 20%;
		border-top: 1px dashed #0e1315;
		border-right: none; 
	}	

	#bottom-controls{
		width: 80%;
		float: none;
		position: absolute;
		bottom: 30px;
		right: 0;
	}
}



@media all and (min-width: 560px) and (min-height: 636px){
	#bottom-controls{
		float: none;
		position: static;
	}
}



@media all and (min-width: 960px) and (min-height: 565px){
	#monitor{
		display: block;
		float: right;
		width: 91.25%;
		background-color: #0e1315;
		overflow: hidden;
	}

	#parameters{
		text-align: center;
		display: block;
		float: left;
		width: 8.75%;
		height: 492px;
		padding: 12px;
		overflow: hidden;
		border-bottom: 1px dashed #0e1315;
		border-top: 1px dashed #0e1315;
	}	

	#bottom-controls{
		width: 100%;
	}
}



#filter-type{
	border-radius: 3px;
	background-color: #0e1315;
	width: 48px;
	margin: 0 auto;
	height: 36px;
	color: #0f0;
	color: #eee;
	font-size: 20px;
	padding-top: 8px;

	float: left;
	cursor: pointer;
	transition: color 0.3s ease;
}
#filter-type:hover{
	color: #ccc;
}
#filter-type:focus{
	outline: 0;
}

.controller-lowpass:after{
	content: 'LP';
}
.controller-highpass:after{
	content: 'HP';
}
.controller-peaking:after{
	content: 'PK';
}

#level{

	float: right;
	margin-top: 0;
	margin-right: 12px;
	height: 200px;
}

#frequency{

	float: left;
	clear: left;
	margin-top: 12px;
}

#bandwidth{

	float: left;
	clear: left;
	margin-top: 12px;
}


#parameters span{
	font-size: 66%;
	overflow: hidden;
	display: block;
	margin-top: 4px;
	margin-bottom: 14px;
	font-weight: bold;

	float: left;
	clear: left;
	width: 44px;
	text-align: center;
	margin-bottom: 0;
}

#eq-check-answer, #eq-reset-game{

	margin-top: 12px;
	margin-bottom: 0;
}

@media all and (min-width: 560px){

	#eq-check-answer, #eq-reset-game{

		margin-bottom: 12px;
		margin-top: 0;
	}
}

@media all and (min-width: 560px) and (min-height: 500px), 
all and (min-width: 960px) and (min-height: 500px){

	#filter-type{

		float: none;
	}

	#level{

		float: none;
		margin: 12px auto;
	}

	#frequency{

		float: none;
	}

	#bandwidth{

		float: none;
	}

	#parameters span{

		float: none;
		width: auto;
	}
}


@media all and (min-width: 560px) and (min-height: 636px){
	#eq-check-answer, #eq-reset-game{

		margin: 18px 9px;
	}

	#level{
		height: 240px;
		margin: 24px auto;
	}
}

@media all and (min-width: 960px) and (min-height: 636px){
	#eq-check-answer, #eq-reset-game{

		margin: 18px 9px;
	}
}

/*
#spectrum{
	width: 100%;
	height: 100%;
}
*/

#settings-presets{
	width: 50%;
	margin-left: 10%;
}

#audio-file-wrap{
	height: 0;
	overflow: hidden;
}

#track0-drag-drop{
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 3px 3px 10px #444 inset;
	border-radius: 12px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	height: auto;
	font-size: 16px;
	width: 100%;
	padding: 32px;
	cursor: pointer;
}

#track0-drag-drop.error{
	background-color: #fdd;
}
#track0-drag-drop.is-dragover:before{
	content: 'Drop it Like it\'s Hot'
}
#track0-drag-drop.is-dragover span{
	display: none;
}

#track0-load-custom-audio{
	opacity: 0.4;
}
#track0-load-custom-audio:hover{
	background-color: #1e99d2;
	cursor: default;
}
#track0-load-custom-audio.active{
	opacity: 1;
}
#track0-load-custom-audio.active:hover{
	cursor: pointer;
	background-color: #1878a5;
}


.menu-item span{
	width: 0;
	height: 0;
	overflow: hidden;
	display: inline-block;
}

#menu-parameters:after{
	content: '\f1de';
	font-family: FontAwesome;
}
#menu-audio:after{
	content: '\f001';
	font-family: FontAwesome;
}
#menu-about:after{
	content: '\f05a';
	font-family: FontAwesome;
}

#settings-controls-right{
	width: auto;
}

@media all and (min-width: 420px){
	.menu-item span{
		width: auto;
		height: auto;
		overflow: visible;
		display: inline;
	}

	#menu-parameters:after{
		display: none;
	}
	#menu-audio:after{
		display: none;
	}
	#menu-about:after{
		display: none;
	}

}


#eq-presets, #track0-audio-files{
	width: 100%;
}
#eq-load-preset, #track0-load-included-audio,
#track0-load-custom-audio{
	margin-top: 12px;
	width: 100%;
}
#settings-save{
	width: 100%;
}

@media all and (min-width: 600px){
	#eq-presets, #track0-audio-files{
		width: auto;
		min-width: 154px;
	}
	#eq-load-preset, #track0-load-included-audio{
		margin-top: 0;
		width: auto;
		min-width: 154px;
		margin-left: 12px;
	}
	#settings-save{
		width: auto;
		min-width: 154px;
		display: block;
		margin: 0 auto;
	}

	#track0-load-custom-audio{
		width: auto;
		min-width: 154px;
		display: block;
		margin: 18px auto;
	}

	#track0-drag-drop{
		padding: 48px;
	}
}

@media all and (min-width: 800px){
	#settings-save, #track0-load-custom-audio{
		margin: 18px auto 0 auto;
	}


	#track0-drag-drop{
		width: 80%;
		height: 190px;
		padding: 13% 15%;
		font-size: 24px;
	}
}
