@viewport { width: device-width }
@-ms-viewport { width: device-width }
@font-face{
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.6.1');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.1') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.6.1') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.6.1') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.6.1') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.6.1#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}

html { 
	font-size: 24px;
	box-sizing: border-box;
}

*{ box-sizing: inherit;}

body{
	background-color: #888;
	margin: 0;
	font-family: sans-serif;
}

	

#monitor{
	display: block;
	float: right;
	width: 100%;
	background-color: #0e1315;
	overflow: hidden;
	position: relative;
}

#monitor canvas{
	width: 100%;
	display: block;
}

#parameters{
	text-align: center;
	display: block;
	float: left;
	width: 50%;
	height: 492px;
	padding: 12px;
	overflow: hidden;
	border-bottom: 1px dashed #0e1315;
	border-top: 1px dashed #0e1315;
}

#bottom-controls{
	width: 50%;
	float: left;
}


@media all and (min-width: 1000px){
	#monitor{
		display: block;
		float: right;
		width: 91.25%;
		height: 492px;
		background-color: #0e1315;
		overflow: hidden;
	}

	#parameters{
		text-align: center;
		display: block;
		float: left;
		width: 8.75%;
		height: 492px;
		padding: 12px;
		overflow: hidden;
		border-bottom: 1px dashed #0e1315;
		border-top: 1px dashed #0e1315;
	}	

	#bottom-controls{
		width: 100%;
	}
}


#filter-type{
	border-radius: 3px;
	background-color: #0e1315;
	width: 48px;
	margin: 0 auto;
	height: 36px;
	color: #0f0;
	color: #eee;
	font-size: 20px;
	padding-top: 8px;

	float: left;
}
#filter-type:after{
}

.controller-lowpass:after{
	content: 'LP';
}
.controller-highpass:after{
	content: 'HP';
}
.controller-peaking:after{
	content: 'PK';
}

#level{
	float: right;
}

#frequency{
	float: left;
	clear: left;
}

#bandwidth{
	float: left;
	clear: left;
}


#parameters span{
	font-size: 66%;
	overflow: hidden;
	display: block;
	margin-top: 4px;
	margin-bottom: 14px;
	font-weight: bold;

	float: left;
	clear: left;
}

/*
#spectrum{
	width: 100%;
	height: 100%;
}
*/

#settings-presets{
	width: 50%;
	margin-left: 10%;
}

#audio-file-wrap{
	height: 0;
	overflow: hidden;
}

#track0-drag-drop{
	background-color: #fff;
	width: 80%;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 3px 3px 10px #444 inset;
	border-radius: 12px;
	margin-left: auto;
	margin-right: auto;
	padding: 15%;
	text-align: center;
}

#track0-drag-drop.error{
	background-color: #fdd;
}
#track0-drag-drop.is-dragover:before{
	content: 'Drop it Like it\'s Hot'
}
#track0-drag-drop.is-dragover span{
	display: none;
}

#track0-load-custom-audio{
	opacity: 0.4;
}
#track0-load-custom-audio.active{
	opacity: 1;
}
#track0-load-custom-audio:hover{
	cursor: default;
}
#track0-load-custom-audio.active:hover{
	cursor: pointer;
}